.main_todo {
  text-align: center;
  margin-top: 30px;
}

h2 {
  margin-bottom: 20px;
}

li {
  padding: 10px;
  list-style: none;
}

li p {
  margin-top: 10px;
  font-size: 18px;
}

span {
  font-weight: bold;
  font-size: 25px;
}

button {
  margin-left: 25px;
  padding: 10px;
  border: 2px solid red;
  border-radius: 20px;
  width: 90px;
}

.tarefa {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  margin-top: 40px;
}

.bloco_Tarefa {
  border-bottom: 2px solid black;
  width: 30%;
  margin: auto;
}

.form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 15%;
  gap: 10px;
  margin-bottom: 20px;
}

.form button {
  width: 50%;
  margin: auto;
  background-color: aquamarine;
  border: 2px solid black;
  cursor: pointer;
}

.form input {
  padding: 5px;
}
